body{ 
    background-color:rgb(73, 6, 6);  
   }



.header{
background-color: black;
color: rgb(73, 6, 6); 
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 100px;
margin-left: auto;
margin-right: auto;
padding-left: 300px;

}

.credit{
font-family: 'Times New Roman', Times, serif;
font-size: 15px;
}

.grid{
  margin-left: auto;
  margin-right: auto;
  width: 500px; 
  height: 500px; 

  display: grid; 
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);

  margin: 50px auto; 
  border: 10px solid black;
}


.cell{
width: 100%; 
height: 100%; 
font-style: oblique; 
font-size: 80px; 
color: rgb(25, 0, 255); 
cursor: pointer; 

background-color: rgb(255, 255, 255); 
border: 5px solid black; 
}

.cell:hover{
opacity: 0.5;
}

.cell:active{
background-color:rgb(73, 6, 6); 
color: black; 
}

.cell:focus{
background-color:rgb(73, 6, 6); 
color: black; 
}

.cell:visited{
background-color:rgb(73, 6, 6); 
color: black; 
}
